/* .AlbumContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 250px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: 0 auto;
    list-style: none;
    padding-top: 50px;
    justify-content: center
    
  }
  .AlbumContainer>.item {
    background-color: #e5ebff;
    word-wrap:break-word;
    padding: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  } */

  .flex-container {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.flex-element {
    color: black;
    padding: 15px;
    margin: 5px;
    background: white;
    border-radius: 3px; 
}