<div class="form-row" style="margin-top: 3%; margin-left: 20%; margin-right: 0">
  <div class="col-md-4">
    <div *ngIf="visiblePhotoUser">
      <div class="user-profile-picture" *ngIf="userDetails">
        <div>
          <img src="https://localhost:44333{{userDetails.Avatar}}" style="max-height: 320px; max-width: 431px">
        </div>
        <div>
          <button type="button" class="btn btn-outline-info" (click)="onEditPicture()" style="margin-top: 2%;">Change
            picture</button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary" style="margin-top: 2%;">View albums
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!visiblePhotoUser">
      <div class="user-profile-picture">
        <form #imageForm=ngForm (ngSubmit)="onChangeImage(Image)">
          <div>
            <img [src]="imageUrl" style="max-height: 320px; max-width: 431px">
            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          </div>
          <button type="submit" class="btn btn-outline-success" [disabled]="Image.value==''"
            style="margin-top: 2%;">Save
          </button>
        </form>
        <button type="button" class="btn btn-outline-danger" (click)="onEditPicture()" style="margin-top: 2%;">Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div *ngIf="visibleDetailsUser">
      <div class="user-profile-main" *ngIf="userDetails">
        <ul class="list-group">
          <li class="list-group-item" style="border:0px">
            <strong>FirstName: </strong>{{userDetails.FirstName}}</li>
          <li class="list-group-item" style="border:0px">
            <strong>LastName: </strong>{{userDetails.LastName}}</li>
          <li class="list-group-item" *ngIf="userDetails.Email != null" style="border:0px">
            <strong>Email: </strong>{{userDetails.Email}}</li>
          <li class="list-group-item" *ngIf="userDetails.Birthday != null" style="border:0px">
            <strong>Birthday: </strong>{{userDetails.Birthday}}</li>
          <li class="list-group-item" *ngIf="userDetails.Gender != null" style="border:0px">
            <strong>Gender: </strong>{{userDetails.Gender}}</li>
          <li class="list-group-item" *ngIf="userDetails.PurposeOfDating != null" style="border:0px">
            <strong>Purpose of dating: </strong>{{userDetails.PurposeOfDating}}</li>
          <li class="list-group-item" *ngIf="userDetails.MaritalStatus != null" style="border:0px">
            <strong>Marital status: </strong>{{userDetails.MaritalStatus}}</li>
          <li class="list-group-item" *ngIf="userDetails.Height != null" style="border:0px">
            <strong>Height: </strong>{{userDetails.Height}}</li>
          <li class="list-group-item" *ngIf="userDetails.Weight != null" style="border:0px">
            <strong>Weight: </strong>{{userDetails.Weight}}</li>
          <li class="list-group-item" *ngIf="userDetails.Education != null" style="border:0px">
            <strong>Education: </strong>{{userDetails.Education}}</li>
          <li class="list-group-item" *ngIf="userDetails.Nationality != null" style="border:0px">
            <strong>Nationality: </strong>{{userDetails.Nationality}}</li>
          <li class="list-group-item" *ngIf="userDetails.ZodiacSign != null" style="border:0px">
            <strong>Zodiac sign: </strong>{{userDetails.ZodiacSign}}</li>
          <li class="list-group-item" *ngIf="userDetails.KnowledgeOfLanguages != null" style="border:0px">
            <strong>Knowledge of languages: </strong>{{userDetails.KnowledgeOfLanguages}}</li>
          <li class="list-group-item" *ngIf="userDetails.BadHabits != null" style="border:0px">
            <strong>Bad habits: </strong>{{userDetails.BadHabits}}</li>
          <li class="list-group-item" *ngIf="userDetails.FinancialSituation != null" style="border:0px">
            <strong>Financial situation: </strong>{{userDetails.FinancialSituation}}</li>
          <li class="list-group-item" *ngIf="userDetails.Interests != null" style="border:0px">
            <strong>Interests: </strong>{{userDetails.Interests}}</li>
          <li class="list-group-item" *ngIf="userDetails.AnonymityMode != null" style="border:0px">
            <strong>Anonymity mode: </strong>{{userDetails.AnonymityMode}}</li>
        </ul>
        <div>
          <div style="text-align: center">
            <div>
              <button type="button" class="btn btn-outline-info" (click)="onEditUser()" style="margin-top: 2%;">Change
                information</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!visibleDetailsUser">
      <form [formGroup]="service.editModel" autocomplete="off" *ngIf="userDetails" (submit)="onSubmit()">

        <div class="form-group required">
          <label>FirstName</label>
          <input class="form-control" style="display: initial" formControlName="FirstName"
            value="{{userDetails.FirstName}}">
        </div>

        <div class="form-group required">
          <label>LastName</label>
          <input class="form-control" formControlName="LastName" value="{{userDetails.LastName}}">
        </div>

        <div class="form-group required">
          <label>Date of birthday</label>
          <input class="form-control" formControlName="Birthday" type="date" value="{{userDetails.Birthday}}">
        </div>

        <div class="form-group required">
          <label>Gender</label>
          <select class="form-control" formControlName="Genders">
            <option *ngFor="let gender of InfoFromDb.Gender" [value]="gender.Id">
              {{gender.Value}}
            </option>
          </select>
        </div>

        <div class="form-group required">
          <label>Purpose of dating</label>
          <select class="form-control" formControlName="PurposeOfDating" multiple>
            <option *ngFor="let purpose of InfoFromDb.Purposes" [value]="purpose.Id">
              {{purpose.Value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Height</label>
          <input class="form-control" formControlName="Height" value="{{userDetails.Height}}">
        </div>

        <div class="form-group">
          <label>Weight</label>
          <input class="form-control" formControlName="Weight" value="{{userDetails.Weight}}">
        </div>

        <!-- <div class="form-group">
          <label>Education</label>
          <input class="form-control" formControlName="Education" value="{{userDetails.Education}}">
        </div> -->

        <div class="form-group">
          <label>Education</label>
          <select class="form-control" formControlName="Education">
            <option *ngFor="let education of InfoFromDb.Education" [value]="education.Id">
              {{education.Value}}
            </option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label>Nationality</label>
          <input class="form-control" formControlName="Nationality" value="{{userDetails.Nationality}}">
        </div> -->

        
        <div class="form-group">
          <label>Nationality</label>
          <select class="form-control" formControlName="Nationality">
            <option *ngFor="let nationality of InfoFromDb.Nationality" [value]="nationality.Id">
              {{nationality.Value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Zodiac sign</label>
          <select class="form-control" formControlName="ZodiacSign">
            <option *ngFor="let sign of InfoFromDb.ZodiacSigns" [value]="sign.Id">
              {{sign.Value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Knowledge of languages</label>
          <select class="form-control" formControlName="KnowledgeOfLanguages" multiple>
            <option *ngFor="let language of InfoFromDb.Languages" [value]="language.Id">
              {{language.Value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Bad Habits</label>
          <select class="form-control" formControlName="BadHabits" multiple>
            <option *ngFor="let badHabit of InfoFromDb.BadHabits" [value]="badHabit.Id">
              {{badHabit.Value}}
            </option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label>FinancialSituation</label>
          <input class="form-control" formControlName="FinancialSituation" value="{{userDetails.FinancialSituation}}">
        </div> -->

        
        <div class="form-group">
          <label>Financial situation</label>
          <select class="form-control" formControlName="FinancialSituation">
            <option *ngFor="let finans of InfoFromDb.Finans" [value]="finans.Id">
              {{finans.Value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Interests</label>
          <select class="form-control" formControlName="Interests" multiple>
            <option *ngFor="let interest of InfoFromDb.Interests" [value]="interest.Id">
              {{interest.Value}}
            </option>
          </select>
        </div>

        <div class="form-group required">
          <label>Anonymity mode</label>
          <div class="form-control">
            <input type="radio" value="true" formControlName="AnonymityMode"> turn on
            <input type="radio" value="false" formControlName="AnonymityMode"> turn off
          </div>
        </div>

        <div class="form-row">
          <button type="submit" class="btn btn-lg btn-block">Save</button>
        </div>
        <div style="text-align: center">
          <button type="button" class="btn btn-outline-danger" (click)="onEditUser()"
            style="margin-top: 2%;">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>