<form class="w3-container" action="/action_page.php">
  <div class="row">
    <div style="text-align: right">
      <button class="btn btn-link" onclick="document.getElementById('id02').style.display='none'"
        (click)="onDeleteAlbum()">Delete album</button>
    </div>
  </div>

  <div>
      <ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
      <button (click)="dropzone.reset()">Reset</button>
  </div>

  <div class="w3-section">
    <div class="flex-container">
      <div *ngFor="let photo of photos; let i = index" class="flex-element">
        <div style="text-align: center">
          <img src="https://localhost:44333{{photo.PathPhoto}}" style="max-height: 140px; max-width: 120px"
            (click)="open(i)">
          <button class="btn btn-link" (click)="onDeletePhoto(photo.IdPhoto)">remove</button>
        </div>
      </div>
    </div>
  </div>
</form>