<form [formGroup]="service.resetModel" autocomplete="off" (submit)="onSubmit()">
  
    <div class="form-group required">
      <label>Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger"
        *ngIf="service.resetModel.get('Email').touched && service.resetModel.get('Email').errors?.email">Invalid email
        address.</label>
    </div>
  
    
    <div formGroupName="Passwords">
      <div class="form-group required">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger"
          *ngIf="service.resetModel.get('Passwords.Password').touched && service.resetModel.get('Passwords.Password').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="service.resetModel.get('Passwords.Password').touched && service.resetModel.get('Passwords.Password').errors?.minlength">Minimum
          4 characters required.</label>
      </div>
  
      <div class="form-group required">
        <label>Password Confirm</label>
        <input type="password" class="form-control" formControlName="PasswordConfirm">
        <label class="text-danger"
          *ngIf="service.resetModel.get('Passwords.PasswordConfirm').touched && service.resetModel.get('Passwords.PasswordConfirm').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="service.resetModel.get('Passwords.PasswordConfirm').touched && service.resetModel.get('Passwords.PasswordConfirm').errors?.passwordMismatch">Confirm
          Password does not match.</label>
      </div>
  
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.resetModel.valid">Sign Up</button>
      </div>
    </div>
  </form>