<div class="main">

  <div class="row">

    <div class="col-md-4">
      <div>
        <div *ngFor="let dialog of userList" >
          <hr>
          <div class="row" >
            <div class="col-md-2" style="text-align: center">
              <img src="https://localhost:44333{{dialog.Avatar}}"
                style="max-height: 100px;
                max-width: 50px; border-radius: 100px; margin-left: 1%">
            </div>
            <div class="col-md-10" (click)="onOpenDialog(dialog.UserId, dialog.DialogId)" style="text-align: center">
              {{dialog.Firstname}} {{dialog.Lastname}}
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!visibleChatDetails" class="col-md-8">
          <app-chat-details [userId]="UserId" [dialogId]="DialogId" ></app-chat-details>
    </div>

  </div>