<div style="height: 650px; overflow: auto;">
  <div id="message">
    <hr>

    <div *ngIf="messages.length > 0">
      <div *ngFor="let message of messages">
        <div class="w3-card-4">
          <header class="w3-container w3-white">
            <img class="w3-circle" src="https://localhost:44333{{message.Avatar}}" style="max-height: 50px;
                max-width: 80px; margin-top: 1%">
            {{message.Firstname}} {{message.Lastname}}
          </header>
          <div class="w3-container">
            {{message.Text}}
            <div *ngFor="let path of message.Photos">
              <img src="https://localhost:44333{{path}}">
            </div>
          </div>
          <footer class="w3-container w3-black">
            {{message.Date | date:'MMM d, y, h:mm:ss a' }}
          </footer>
        </div>
        <hr>
      </div>
    </div>

    <div *ngFor="let message of messagesRealTime">
      <div class="w3-card-4">
        <header class="w3-container w3-white">
          <img class="w3-circle" src="https://localhost:44333{{message.avatar}}" style="max-height: 50px;
                max-width: 80px; margin-top: 1%">
          {{message.firstname}} {{message.lastname}}
        </header>
        <div class="w3-container">
          {{message.text}}
          <div *ngFor="let path of message.photos">
            <img src="https://localhost:44333{{path}}">
          </div>
        </div>
        <footer class="w3-container w3-black">
          {{message.date | date:'MMM d, y, h:mm:ss a' }}
        </footer>
      </div>
      <hr>
    </div>
  </div>
</div>

<div>
  <ng-template [ngIf]="!checkBlacklist" [ngIfElse]="loggedOut">
    <form (submit)="onSendMessage()">
      <div id="panel" style="position: fixed;  bottom: 40px;">
        <hr>

        <div class="input-group">
          <textarea rows="2" cols="55" id="message" name="message" placeholder="Enter message" [(ngModel)]="message"
            style="resize: none;"></textarea>
          <button type="button" (click)="dropzone.showFileSelector()">attach photo</button>
          <button type="button" (click)="onOpenStikers()" class="input-addon">☺</button>
        </div>
        <ngx-dropzone style="height: 43px;" [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)"
          (filesRejected)="onFilesRejected($event)">
        </ngx-dropzone>

        <div *ngIf="!visibleStikers">
          <emoji-mart title="Pick your emoji…" emoji="point_up" set="emojione" (emojiSelect)="addEmoji($event)"
            [style]="{ position: 'absolute', bottom: '150px', right: '-170px' }"
            [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }">
          </emoji-mart>
        </div>
        <button class="w3-button w3-block w3-green w3-section w3-padding" (click)="dropzone.reset()"
          type="submit">Send</button>
      </div>
    </form>
  </ng-template>
</div>

<ng-template #loggedOut>
    <div class="p-3 mb-2 bg-danger text-white" style="text-align: center">
      You are blacklisted by this user.
    </div>
  </ng-template>