<div class="form-row" style="margin-top: 2%; margin-left: 20%; margin-right: 0" *ngIf="!visibleSearch">
  <div class="col-md-4">
    <div class="user-profile-picture" *ngIf="userDetails">
      <div>
        <img src="https://localhost:44333{{userDetails.Avatar}}" style="max-height: 320px; max-width: 431px">
      </div>
      <ng-template [ngIf]="!checkBlacklist" [ngIfElse]="loggedOut">
        <div>
          <button type="button" class="btn btn-outline-info" (click)="onAddToFriend()" style="margin-top: 2%;">Add to
            friend</button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary"
            onclick="document.getElementById('id01').style.display='block'" style="margin-top: 2%;">Send a
            message</button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-danger" style="margin-top: 2%;" (click)="onOpenAlbums()">View
            albums</button>
        </div>
      </ng-template>
      <div>
        <button type="button" class="btn btn-outline-danger" style="margin-top: 2%;" (click)="onAddToBlacklist()">Add to
          blacklist</button>
      </div>
    </div>
  </div>

  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <form class="w3-container" (submit)="onSendMessageFromProfile()">
          <div class="w3-section">
            <textarea rows="10" cols="57" id="message" name="message" placeholder="Enter message" [(ngModel)]="message"
              style="resize: none;"></textarea>
            <button type="button" style="text-align: right" class="btn btn-link" (click)="onOpenDropzone()">attach
              photo</button>
            <button class="w3-button w3-block w3-green w3-section w3-padding"
              onclick="document.getElementById('id01').style.display='none'" type="submit">Send</button>
          </div>
          <div *ngIf="!visibleDropZone">
            <ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)"
              (filesRejected)="onFilesRejected($event)">
            </ngx-dropzone>
            <button type="button" class="btn btn-danger" (click)="dropzone.reset()">Reset</button>
          </div>
        </form>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" style="text-align: right">
          <button onclick="document.getElementById('id01').style.display='none'" type="button"
            class="w3-button w3-red">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="user-profile-main" *ngIf="userDetails">
      <ul class="list-group">
        <li class="list-group-item" style="border:0px">
          <strong>FirstName: </strong>{{userDetails.FirstName}}</li>
        <li class="list-group-item" style="border:0px">
          <strong>LastName: </strong>{{userDetails.LastName}}</li>
        <li class="list-group-item" *ngIf="userDetails.Email != null" style="border:0px">
          <strong>Email: </strong>{{userDetails.Email}}</li>
        <li class="list-group-item" *ngIf="userDetails.Birthday != null" style="border:0px">
          <strong>Birthday: </strong>{{userDetails.Birthday}}</li>
        <li class="list-group-item" *ngIf="userDetails.Gender != null" style="border:0px">
          <strong>Gender: </strong>{{userDetails.Gender}}</li>
        <li class="list-group-item" *ngIf="userDetails.PurposeOfDating != null" style="border:0px">
          <strong>Purpose of dating: </strong>{{userDetails.PurposeOfDating}}</li>
        <li class="list-group-item" *ngIf="userDetails.MaritalStatus != null" style="border:0px">
          <strong>Marital status: </strong>{{userDetails.MaritalStatus}}</li>
        <li class="list-group-item" *ngIf="userDetails.Height != null" style="border:0px">
          <strong>Height: </strong>{{userDetails.Height}}</li>
        <li class="list-group-item" *ngIf="userDetails.Weight != null" style="border:0px">
          <strong>Weight: </strong>{{userDetails.Weight}}</li>
        <li class="list-group-item" *ngIf="userDetails.Education != null" style="border:0px">
          <strong>Education: </strong>{{userDetails.Education}}</li>
        <li class="list-group-item" *ngIf="userDetails.Nationality != null" style="border:0px">
          <strong>Nationality: </strong>{{userDetails.Nationality}}</li>
        <li class="list-group-item" *ngIf="userDetails.ZodiacSign != null" style="border:0px">
          <strong>Zodiac sign: </strong>{{userDetails.ZodiacSign}}</li>
        <li class="list-group-item" *ngIf="userDetails.KnowledgeOfLanguages != null" style="border:0px">
          <strong>Knowledge of languages: </strong>{{userDetails.KnowledgeOfLanguages}}</li>
        <li class="list-group-item" *ngIf="userDetails.BadHabits != null" style="border:0px">
          <strong>Bad habits: </strong>{{userDetails.BadHabits}}</li>
        <li class="list-group-item" *ngIf="userDetails.FinancialSituation != null" style="border:0px">
          <strong>Financial situation: </strong>{{userDetails.FinancialSituation}}</li>
        <li class="list-group-item" *ngIf="userDetails.Interests != null" style="border:0px">
          <strong>Interests: </strong>{{userDetails.Interests}}</li>
        <li class="list-group-item" *ngIf="userDetails.AnonymityMode != null" style="border:0px">
          <strong>Anonymity mode: </strong>{{userDetails.AnonymityMode}}</li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="p-3 mb-2 bg-danger text-white" style="text-align: center">
    You are blacklisted by this user.
  </div>
</ng-template>